// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
  background-color: white;
  color: black;
}


header h2{
  text-decoration: none;
  border: 0px;
  background-color: transparent;
  color: white;
}


.header-left{
  float: left;
}

.header-right{
  float: right;
}

.header-right ul{
  list-style-type: none;
}

.header-right li{
  float: right;
  margin: 0 25px;
}

.container{
  background-color: rgba(211,211,221,0.2);
  height: 800px;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
